<center>
<h1>News</h1>
</center>

<ul>
  <% @articles.each do |article| %>
    <li>
      <a href="/news/<%= article.id %>">
        <%= article.title %>
      </a>
      <%= sanitize to_markdown(truncate(article.body, length: 40)) %>
      Authors:
      <% article.authors.each do |author| %>
        <%= author.name %>
      <% end %>
      <br>
      Date:
      <%= article.date %>
    </li>
    <br>
    <br>
  <% end %>
</ul>
