<center>
    <div class="header">
        <div class="overlay"></div>
        <div class="bg"></div>
        <div class=logo_parent>
            <%= image_tag "logo/logo_back.png", class:"logo_back", id:"logo" %>
            <%= image_tag "logo/logo_front.png", class:"logo_front", id:"logo" %>
        </div>
        <center>
            <div class="buttons">
                <%= link_to 'NEWS', news_path%>
                <%= link_to 'MOD LISTING', listing_path %>
                <%= link_to 'MODDING GUIDE', guide_path %>
                <%= link_to 'ABOUT', about_path %>
            </div>
        </center>
        <div class="socials">
            <%= link_to "https://discord.gg/YRd8xMmde3" do %>
                <img src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/discord.svg" width="28px" id="soc"></a>
            <% end %>
        </div>
    </div>
</center>